
/* ----------Main-classes---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  width: 1024px;
  height: 830px;
}

/* ---------Body's-children-classes-- */

main {
  width: 100%;
  height: 70vh;
  background-image: url(images/mainImage.jpg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 130%;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: block;
}

.thumbnail {
  width: 100%;
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer {
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "online-store info-footer"
    "footer-bottom footer-bottom";
  font-family: 'Quicksand', sans-serif, Arial;
  font-weight: 100;
  font-size: 0.7rem;
}

/* --------detailed-level---------- */

/* navigation bar */

nav {
  height: 2.3rem;
  position: absolute;
  top: 10vh;
  left: 3rem;
  right: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.nav-tabs-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: -webkit-linear-gradient(rgb(100, 99, 99), rgb(0, 0, 0), rgb(128, 124, 124));
  background-image: -moz-linear-gradient(rgb(100, 99, 99), rgb(0, 0, 0), rgb(128, 124, 124));
  background-image: linear-gradient(rgb(100, 99, 99), rgb(0, 0, 0), rgb(128, 124, 124));
  border-radius: 5px;
}

.nav-btn {
  width: 100%;
  height: 100%;
  border-right: black 1px solid;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  text-decoration: none !important;
  color: aliceblue !important;
  font-family: 'Quicksand', sans-serif, Arial !important;
  font-weight: bold !important;
  text-align: center !important;
  padding: 0.5rem;
}

.nav-btn > img {
  width: 1.3rem;
  height: 1.3rem;
}

.search-btn {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

input[type="text"] {
  width: 75%;
  position: absolute;
  top: 0.4rem;
  left: 0.3rem;
  bottom: 0.4rem;
  right: 0.3rem;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  border: gray 1px solid;
  background-color: rgba(207, 205, 205, 0.301);
  border-radius: 8px;
  font-size: 12px;
  color: aliceblue;
  transition: 0.3s;
  padding-left: 1.5rem;
}

input[type="text"]:focus {
  border-color: white;
  box-shadow: 0 0 6px 0 grey;
}

.search-btn > i {
  position: absolute;
  float: left;
  left: 1.8rem;
  top: 0.65rem;
  font-size: 12px;
  color: aliceblue;
}

/* main titles */

.main-titles-wrapper {
  position: absolute;
  top: 30%;
  left: 16vw;
  width: 68vw;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  font-family: 'Quicksand', sans-serif, Arial;
  font-weight: 100;
  color: white;
  text-align: center;
}

.main-titles-wrapper > h1 {
  font-weight: normal;
  font-size: 4rem;
  padding: 0.8rem;
}

.main-titles-wrapper > p {
  font-weight: normal;
  font-size: 2rem;
  padding: 0.8rem;
}

/* thumbnail */

.frame {
  font-family: 'Quicksand', sans-serif, Arial;
  font-weight: normal;
  color: black;
  text-align: center;
}

.frame > h3 {
  padding-top: 1rem;
  font-size: 1.6rem;
}

#fr1 {
  background-image: url(images/thumbnailImg1.jpg);
  background-repeat: no-repeat;
  background-position-y: 59%;
  background-size: cover;
}

#fr2 {
  background-image: url(images/thumbnailImg2.jpg);
  background-repeat: no-repeat;
  background-position-y: 27%;
  background-size: cover;
}

#fr3 {
  background-image: url(images/thumbnailImg3.jpg);
  background-repeat: no-repeat;
  background-position-y: 61%;
  background-position-x: 89%;
  background-size: cover;
  color: aliceblue;
}

#fr4 {
  background-image: url(images/thumbnailImg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}

/* footer-section */

.info-footer {
  justify-self: end;
  align-self: center;
  padding-right: 1.5rem;
}

.info-footer > a {
  height: min-content;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  border-right: solid 1px gray;
  text-decoration: none;
  color: rgb(0, 136, 204);
}

.online-store {
  justify-self: start;
  align-self: center;
  padding-left: 1.5rem;
}

.online-store > a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

.footer-bottom {
  justify-self: start;
  align-self: start;
  padding-left: 1.5rem;
  display: inline-block;
}

.footer-bottom > a {
  height: min-content;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  border-right: solid 1px gray;
  text-decoration: none;
  color: rgb(0, 136, 204);
}
