
/* ----------Main-classes---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
}

/* ---------Body's-children-classes-- */

main {
  width: 100%;
  height: 70vh;
  background-image: url(images/mainImage.jpg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 130%;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: block;
}

.thumbnail {
  width: 100%;
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer {
  width: 100%;
  height: 10vh;
  display: block;
}

/* --------detailed-level---------- */

/* navigation bar */

nav {
  height: 3rem;
  position: absolute;
  top: 10vh;
  left: 3rem;
  right: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.nav-tabs-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: blue;
  list-style: none;
}

.nav-tabs-wrapper > li {
  align-self: center;
  justify-self: center;
}

.nav-tabs-wrapper > li > input {
  width: 10rem;
  margin-right: auto;
  margin-left: auto;
}

/* main titles */

.main-titles-wrapper {
  position: absolute;
  top: 30vh;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
}

/* thumbnail */

#fr1 {
  background-image: url(images/thumbnailImg1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 59%;
}

#fr2 {
  background-image: url(images/thumbnailImg2.jpg);
  background-size: 128%;
  background-repeat: no-repeat;
  background-position-y: 27%;
}

#fr3 {
  background-image: url(images/thumbnailImg3.jpg);
  background-size: 167%;
  background-repeat: no-repeat;
  background-position-y: 61%;
  background-position-x: 89%;
}

#fr4 {
  background-image: url(images/thumbnailImg4.jpg);
  background-size: 177%;
  background-repeat: no-repeat;
  background-position-y: 96%;
  background-position-x: 38%;
}
